* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
}

body {
    background: #2b2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 70%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}

form h2 {
    text-transform: capitalize;
    font-size: 40px;
    color: white;
}

form input {
    width: 50%;
    min-width: 250px;
    height: 10%;
    border-radius: 20px;
    border: #2b2a2a;
    padding: 15px;
}

form p {
    color: crimson;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
}

form button {
    text-transform: capitalize;
    padding: 10px 25px;
    border-radius: 20px;
    border: #2b2a2a;
    background: gray;
    cursor: pointer;
}

form button:hover {
    transform: scale(1.2);
    transition: 0.2s;
    background: #000;
    color: white;
}

form a {
    display: none;
    color: white;
    font-size: 20px;
}